
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ds5axh');
  src:  url('../fonts/icomoon.eot?ds5axh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ds5axh') format('truetype'),
    url('../fonts/icomoon.woff?ds5axh') format('woff'),
    url('../fonts/icomoon.svg?ds5axh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-codepen:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e905";
}

:root {
	--background-color: #0f1123;
	--text-color: #c9d1d9; 
	--blue: #58a6ff;
	--background-color-2: #0d1117;
	--border: #30363d;
	--tags-background-color: #33313b; 
	--hover-background-color:#222831; 
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	box-sizing: border-box;;
	padding: 0;
}

body {
	font-family: 'Lato', Helvetica;
	color: var(--text-color);
}

h1,
h2,
h3 {
	color: var(--text-color);
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2 {
	letter-spacing: -1px;
}

h2 {
	font-size: 2rem;
}

.container {
	display: grid;
	grid-template-columns: minmax(auto, 1024px);
	justify-content: center;
	grid-gap: 4rem;
	background: var(--background-color);
}


/*///////////

	HEADER

///////////*/

.header {
	position: sticky;
	top: 0;
	z-index: 1;
	background: var(--background-color);
	padding: 0 1rem;
}

.header-container {
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'logo menu';
	display: grid;
	height: 4rem;	
	align-items: center;
}

.header_menu {
	grid-area: menu;
	width: max-content;
	justify-self: center;
}

.header_menu a {
	margin-left: 20px;
	font-size: 20px;
	color: var(--text-color);
}

.header_name {
	text-transform: uppercase;
	font-size: 25px;
	grid-area: logo;
	width: max-content;
	color: var(--text-color);
}

.burger-menu {
	width: 60px;
	height: 60px;
	background-color: var(--blue);
	color: white;
	line-height: 60px;
	text-align: center;
	position: fixed;
	z-index: 3;
	bottom: 30%;
	right: 10%;
	display: none;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

@media screen and (max-width: 767px) {

	.header {
		display: block;
		text-align: center;
		height: auto;
		padding: 1em .3em;
		position: initial;
	}

	.header-container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'logo screen-mode';
		justify-items: center;
	}

	.screen-mode {
		justify-self: center;
	}

	.burger-menu {
		display: initial;
	}

	.header_menu {
		position: fixed;
		bottom: 40%;
		right: -100vw;
		width: 80vw;
		height: auto;
		z-index: 2;
		padding: 1rem 0;
		background-color: var(--blue);
		border-radius: 10px;
		border-bottom-right-radius: 0; 
		transition: 0.3s;
		text-align: left;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.header_menu a {
		font-size: 1.5em;
		color: white;
		z-index: 4;
		margin: 0 .3em;
		text-decoration: none;
	}

	.header_menu a:hover {
	}

	.is-active {
		right: 10%;
	}

}

/*////////////

	HERO

////////////*/

.hero-container {
	height: 80vh;	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'hero     hero     .';
	align-items: center;
	padding: 0 1rem;
}

.hero_title {
	font-size: 50px;
	grid-area: hero;
}

@media screen and (max-width: 768px) {

	.hero-container {
		height: auto;
		grid-template-columns: 1fr;
		grid-template-areas: 'hero';

	}

	.hero_title {
		font-size: 2.3em;
		padding: 0;
	}

	.hero_title strong {
		font-size: 1em;
		color: white;
		text-decoration: none;
	}
}

@media screen and (max-width: 480px) {

		.hero_title {
			font-size: 2em;
		}
}

@media screen and (max-width: 320px) {

		.hero_title {
			font-size: 1.5em;
		}
}

/*//////////////////////////

			ABOUT

//////////////////////////*/

.about-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'title experience-title' 
						 'about experience';
	grid-gap: 2rem;
	padding: 2rem 1rem;
	margin-top: 4rem;
}

.about_title {
	grid-area: title;
}

.about_description strong {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.about_description {
	font-size: 1.3rem;
	grid-area: about;
}

.experience {
	grid-area: experience;
	font-size: 1.3rem;
}

.experience p {

}

.experience h2 {
	grid-area: experience-title;
	padding-top: 4rem;
}

.experience ul {
	list-style: none;
}

@media screen and (max-width: 766px) {
	.about-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas: 'title ' 
							 'about '
							 'experience-title'
							 'experience';
	}
}

/*@media screen and (max-width: 480px) {

	.about_title {
		font-size: 1.5em;
	}

	.about_description {
		font-size: 1em;
	}
}*/

@media screen and (max-width: 320px) {


}

/*////////////////////////////////////

		PROJECTS

////////////////////////////////////*/

.projects-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'title    title    .'
						 'carrucel carrucel carrucel';
	grid-gap: 1.5rem;
}

.projects h2 {
	grid-area: title;
	margin-top: 4.4rem;
	padding: 0 1rem;
}

.projects-carrucel {
	grid-area: carrucel;
	display: grid;
	grid-auto-flow: column;
	overflow: scroll;
	grid-gap: 2rem;
	padding: 1rem;
	background: var(--background-color-2);
	border: 1px solid var(--border);
	border-radius: 5px;
}

.projects-carrucel::-webkit-scrollbar {
    -webkit-appearance: none;
}

.projects-carrucel::-webkit-scrollbar:horizontal {
    height: 10px;
}

.projects-carrucel::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

.project {
	padding: 1rem;
	border-radius: 15px;
	height: auto;
	background: var(--background-color);
}

.project h3 {
	margin-bottom: 1rem;
}

.project a {
	text-decoration: none;
	font-weight: normal;
	color: var(--text-color);
}

.tags {
	display: flex;
	margin-top: 1rem;
}

.tecnology {
	display: flex;
	align-items: center;
	padding: .2rem;
	background-color: var(--tags-background-color);	
	border-radius: 50px;
	width: max-content;
	margin-right: 1rem;
}

.tecnology span {
	width: 1rem;
	height: 1rem;
	border-radius: 50px;
	margin-right: .5rem;
}

.html span {
	background: red;
}

.css span {
	background: purple;
}

.javascript span {
	background: yellow;
}

.react span {
	background: #61dafb;
}

.redux span {
	background: #764abc;
}

.typescript span {
	background: #3178c6;
}

.apis span {
	background: orange;
}

@media screen and (max-width: 766px) {
	.projects-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'title'
						 	 'carrucel';
		grid-gap: 1.5rem;
	}

	.project {
		padding: 1rem;
		border-radius: 15px;
		height: auto;
	}
}

/*////////////////////////////////////
	
		CONTACT

////////////////////////////////////*/

.contact-container {
	display: grid;
	grid-template-columns: 1fr 60%;
	grid-template-areas: 'title social-media'
						 'title social-media';
	height: auto;
	grid-gap: 1rem;
	
}

.contact h2 {
	grid-area: title;
	align-self: center;
	font-size: 1.5rem;
	padding: 0 .5rem;
}

.social-media {
	grid-area: social-media;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px;
}

.social-media-link {
	background-color: var(--background-color-2);
	padding: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--text-color);
}

.social-media-link:hover {
	background: var(--hover-background-color);
	text-decoration: none;
}

.social-icon {
	font-size: 4rem;
}

.contact_title {
	padding: 50px 0 40px;
}

@media screen and (max-width: 766px) {
	.contact-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 'title'
							 'social-media';
		height: auto;
		grid-gap: 1rem;
	
	}
}

@media screen and (max-width: 768px) {

	.contact {
		/*display: block;	*/
		text-align: center;
	}

	.contact_social {
		justify-content: center;
		align-items: center;
		width: auto;
	}

	.contact_titleWrapper {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {

	.contact_title {
		font-size: 1.4em;
			}
}

@media screen and (max-width: 320px) {

}


/*///////////////////////////////

			FOOTER

///////////////////////////////*/


.footer {
	display: grid;
	grid-template-columns: minmax(auto, 1024px);
	justify-content: start;
	height: 4rem;
	align-items: center;
	padding: 0 1rem;
}

